<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/CSS/styles.css">
    <title>Resume</title>
</head>
<body>
    <header>
        <div>
            <div class="avatar">
                <div class="yellow">
                   <div class="inner" id="profile">

                   </div> 
                </div>
            </div>
            
            <div class="profile">
                <div>
                    <p>HELLO</p>
                    <h1>I'm <span class="color">Ajim Bong</span></h1>
                    <p> A Software Engineering student and a passionate Web Developer</p>

                    <button><a href="#contact"> Contact </a></button>
                </div>
            </div>
        </div>
    </header>

    <main id="main">
        <div class="scont">
            <div class="skills">
                <div class="sechead">
                    <h2>Skills</h2>
                </div>
                <div class="card-container">
                    <div class="card front">
                        <div class="chead">
                            <div class="icon" id="frontend">

                            </div>
                            <h3>Frontend</h3>
                        </div> 
                        <div class="cbody">
                            <p> HTML, CSS, Javascript, Sass, Bootstrap, Adobe XD, Figma</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="chead">
                            <div class="icon" id="backend">

                            </div>
                            <h3>Back End</h3>
                        </div> 
                        <div class="cbody">
                            <p> Node JS, Express, MongoDB</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experience">
                <div class="scont">
            <div class="skills">
                <div class="sechead">
                    <h2>Experience</h2>
                </div>
                <div class="card-container">
                    <div class="card front">
                        <div class="chead">
                            <div class="icon" id="sagicam">
                
                            </div>
                            <h3>Sagicam</h3>
                        </div> 
                        <div class="cbody">
                            <h4> June - July 2020</h4>
                            <p>Worked as a front end developer and designed Websites in adobe XD and WordPress</p>
                
                            <button><a href="https://www.sagicam.com/" target="_blank"> Site -></a></button>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="chead">
                            <div class="icon" id="hnglogo">
                
                            </div>
                            <h3>HNG Internship</h3>
                        </div> 
                        <div class="cbody">
                            <h4> August 2021 - Present</h4>
                            <p>Working as a backend engineer with at the HNG Internship.</p>
                
                            <button><a href="https://internship.zuri.team/" target="_blank"> Site -></a></button>
                        </div>
            </div>
            </div>
        </div>

    </main>

    <div class="contact" id="contact">   
            <div class="cform">
                <h2>Contact</h2>


                <form action="/form" method="POST">
                        <div class="input-div">
                            <input type="text" name="name" id="name" placeholder="Enter your name" required >
                        </div>
                        <div class="input-div">
                            <input type="email" name="email" id="email" placeholder="Enter your email address" required>
                        </div>
                        <textarea name="message" id="message" cols="30" rows="10" placeholder="Write a message" required></textarea>

                        <div class="mailbtn"><button type="submit" id="sbtn"> Send Email</button></div>
                </form>


            </div>
    </div>

        <footer> 
            <h4>Copyright &copy; 2021 . Ajim Bong</h4>    
        </footer>
 
        <script>
            
        </script>
</body>
</html>